<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <img src="https://th.bing.com/th/id/R.b25be035b4ad98f2acf743cd3775b0d7?rik=c4zcSkryEXJERg&riu=http%3a%2f%2fupload.wikimedia.org%2fwikipedia%2fcommons%2f4%2f4d%2fCat_March_2010-1.jpg&ehk=Ke%2bLAvdu%2ba5%2bvlU%2b3FVxagwWQIuo15DlOG90PGRKEOA%3d&risl=1&pid=ImgRaw&r=0" alt="" height="350px">

    <h1>Bienvenidos!!</h1>
    
</body>
</html>