
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <p>Nombre Gato</p>

    <input type="text">

    <p>Raza</p>

    <input type="text">

    <p>Edad</p>

    <input type="number">
    
    <p>Genero</p>

    <input type="text">

    <p>Color</p>

    <input type="color">

    <p>Peso</p>

    <input type="number">

    <br>

    <input type="submit">


    
</body>
</html>