<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document.Home</title>
</head>
 <body>

    <h1>🏘🏘🏘🏘🏘</h1>

    <hr>

    <p>Agregar Peliculas</p>

    <hr>

    <h2>Peliculas</h2>

    {% for i in movies %}
      {{i.name}} -- {{i.comment}} <hr size="10px" >
    {% endfor %}

    <h2>Directores</h2>

    {% for d in directors %}
       {{d.name}} -- {{d.last_name}} <hr size="10px">
    {% endfor %}


    
 </body>
</html>